In [47]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import time
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
gmaps.configure(api_key=g_key)

In [48]:
#Import WeatherPy_vacation csv
vacation_df = pd.read_csv("Challenge/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Lat,Lng,Weather Description,Hotel Name
0,2,Atuona,PF,80.11,-9.80,-139.03,clear sky,Villa Enata
1,7,Hithadhoo,MV,83.70,-0.60,73.08,overcast clouds,Scoop Guest House
2,9,Maine-Soroa,NE,85.82,13.21,12.02,clear sky,NaN
3,10,Ambon,ID,82.40,-3.70,128.18,shower rain,Swiss-Belhotel Ambon
4,11,Nieuw Amsterdam,SR,82.40,5.88,-55.08,few clouds,Hotel Stardust
...,...,...,...,...,...,...,...,...
145,543,Kibala,TD,77.00,9.11,18.35,few clouds,NaN
146,545,Bombay,IN,80.60,19.01,72.85,haze,Four Seasons Hotel Mumbai
147,546,San Lazaro,BZ,86.00,18.04,-88.66,scattered clouds,NaN
148,549,Bilma,NE,83.97,18.69,12.92,clear sky,Expeditions Ténére voyages
149,551,Itarema,BR,77.43,-2.92,-39.92,clear sky,Windvillage

In [49]:
#Find 4 hotels within the same continent that are close together that people might want to vacation at. 
#Hotel 1
#Hotel Name: Four Seasons Hotel Mumbai
#City: Bombay
#Country: IN
#Max Temp: 80.6 °F
#Current Weather: haze

#Hotel 2
#Hotel Name: Hotel Fort View
#City: Phalodi
#Country: IN
#Max Temp: 88.81 °F
#Current Weather: clear sky

#Hotel 3
#Hotel Name: Hotel Surya Royal
#City:Kota
#Country:IN
#Max Temp:80.6 °F
#Current Weather:broken clouds

#Hotel 4
#Hotel Name: OYO 1577 Hotel Shree Hari Grand
#City: Puri
#Country:IN
#Max Temp:80.6 °F
#Current Weather:mist

In [50]:
Hotel_One_df = pd.DataFrame(vacation_df.loc[vacation_df["Hotel Name"]=="Four Seasons Hotel Mumbai"])
Hotel_Two_df = pd.DataFrame(vacation_df.loc[vacation_df["Hotel Name"]=="Hotel Fort View"])
Hotel_Three_df = pd.DataFrame(vacation_df.loc[vacation_df["Hotel Name"]=="Hotel Surya Royal"])
Hotel_Four_df = pd.DataFrame(vacation_df.loc[vacation_df["Hotel Name"]=="OYO 1577 Hotel Shree Hari Grand"])

In [51]:
Hotel_Three_df

,City_ID,City,Country,Max Temp,Lat,Lng,Weather Description,Hotel Name
71,271,Kota,IN,80.6,25.18,75.83,broken clouds,Hotel Surya Royal

In [52]:
start = Hotel_One_df["Lat"].values[0], Hotel_One_df["Lng"].values[0]
end= Hotel_Four_df["Lat"].values[0], Hotel_Four_df["Lng"].values[0]
stop1= Hotel_Two_df["Lat"].values[0], Hotel_Two_df["Lng"].values[0]
stop2 = Hotel_Three_df["Lat"].values[0], Hotel_Three_df["Lng"].values[0]

print(start)
print(stop1)
print(stop2)
print(end)

(19.01, 72.85)
(27.13, 72.37)
(25.18, 75.83)
(19.8, 85.85)

In [69]:
fig = gmaps.figure()
hotel_trip = gmaps.directions_layer(
    start, end,waypoints = [stop1, stop2],
    travel_mode = 'DRIVING')
fig.add_layer(hotel_trip)
plt.savefig("Challenge/WeatherPy_travel_map.png")
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
Hotels_Complete_df = pd.concat([Hotel_One_df, Hotel_Two_df, Hotel_Three_df, Hotel_Four_df])

In [61]:
Hotels_Complete_df.reset_index(drop = True)

,City_ID,City,Country,Max Temp,Lat,Lng,Weather Description,Hotel Name
0,545,Bombay,IN,80.60,19.01,72.85,haze,Four Seasons Hotel Mumbai
1,376,Phalodi,IN,88.81,27.13,72.37,clear sky,Hotel Fort View
2,271,Kota,IN,80.60,25.18,75.83,broken clouds,Hotel Surya Royal
3,375,Puri,IN,80.60,19.80,85.85,mist,OYO 1577 Hotel Shree Hari Grand

In [63]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} & {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in Hotels_Complete_df.iterrows()]
locations = Hotels_Complete_df[["Lat", "Lng"]]

In [68]:
marker_layer =gmaps.marker_layer(locations, info_box_content= hotel_info)
fig=gmaps.figure()
fig.add_layer(marker_layer)
plt.savefig("Challenge/WeatherPy_travel_map_markers.png")
fig

Figure(layout=FigureLayout(height='420px'))